
/*  Дополнительный синий цвет - color: #2196F3; 
Основной черный цвет (заголовки) - color: #212121;
Черный цвет для лого - color: #000000;
Основной серый цвет - color: #757575;
Белый цвет - color: #FFFFFF;
Фон подвала - color: #2F303A
Цвет ссылок подвала - color: rgba(255, 255, 255, 0.6)
Цвет фона страницы - color: #E5E5E5;
Фон секции Теам - color: #F5F4FA;
*/
:root {
    --maint-font:"Roboto"; sans-serif;
    --secondary-font: "Raleway"; sans-serif;
    --akcent-color: #2196F3;
    --main-titel-color: #212121;
    --secondary-titel-color: #FFFFFF;
    --logo-color: #000000;
    --main-text-color: #757575;
    --backgraund-color: #E5E5E5;
    --backgraund-footer-color: #2F303A;
    --backgraund-team-color: #F5F4FA;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --main-backgraund-color: #FFFFFF; 
}
/* Общие стили */
.html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.page {
    font-family: var(--maint-font);
    background-color: var(--main-backgraund-color);
    color: var(--main-text-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* Контейнер */
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Логотип */
.logo,
.footer-logo-link {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    }
.web {
    color: var(--akcent-color);
}
.logo {
    margin-right: 85px;
}
/* Навигация */
.nav-list {
    display: flex;
    padding-inline-start: 0;
}
 .nav-item:not(:last-child) { 
    margin-right: 50px;
    padding-left: 0;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-titel-color);  
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus  {
    color: var(--akcent-color);
}
.contacts-link {
    color: var(--main-text-color);
}
.header .container {
    display: flex;
    align-items: center;
    height: 80px;
}
.contacts {
    margin-left: auto;
}
.contacts-link:not(:last-child) {
    margin-right: 30px;
}

/* Секция Герой */
.hero {
    height: 600px;
    margin-bottom: 94px;
    text-align: center;
    /* Временный фон для контраста заголовка */
    background-color: var(--backgraund-color);
}
.hero-titel {
    margin: 0;
    padding-top: 200px;
    margin-bottom: 30px;
       
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-titel-color);
}
.hero-button {
    display: inline-block;   
    width: 200px;
    height: 50px;
    border-radius: 4px;
   
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
       letter-spacing: 0.06em;
    background-color: var(--akcent-color);
    color: var(--secondary-titel-color);
}
.section {
    margin-bottom: 94px;
}
/* Секция Преимущества */
.superiority {
    height: 250px;
}
.superiority-list {
    display: flex;    
    margin: 0;
}
.superiority-item {
    width: 270px;
}
.superiority-item:not(:last-child) {
    margin-right: 30px;
}
.superiority-img {
    margin-bottom: 30px;
}
.superiority-titel {
    /* margin-top: 30px; */
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-titel-color);
}
.superiority-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/* Имена секций */
.section-titel {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-titel-color);
}
/* Секция Работы */
.work {
    height: 386px;
}
.work-list {
    display: flex;
    margin: 0;
}
.work-item {
    display: inline-block;
    width: 370px;
    height: 294px;
}
.work-item:not(:last-child) {
    margin-right: 30px;
}
.work-text {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--secondary-titel-color);
}
/* Секция Команда */
.team-list {
    display: flex;
    margin: 0;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-img {
    margin-bottom: 30px;
}
.team-social-list,
.footer-social-list {
    display: flex;
    align-items: center;
     padding: 0;
     margin: auto; 
     width: 206px;
     height: 44px;
     justify-content: center;
}
.team-social-item:not(:last-child),
.footer-social-item:not(:last-child) {
    margin-right: 10px;
}
.team-name {
    margin-top: 0;
    margin-bottom: 10px;
}
.team-name,
.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-titel-color);
}
.team-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--main-text-color);
}
.team {
    background-color: var(--backgraund-team-color);
}
/* Секция Клиенты */
.client-list {
    display: flex;
    padding-left: 0;
     justify-content: center;
     margin-top: 0;
     margin-bottom: 0;
}
.client-item:not(:last-child) {
    margin-right: 30px;

}
/* Подвал */
.footer {
    display: flex;
    padding-top: 60px;
    align-items: baseline;
    height: 252px;
}
.footer-all{
    background-color: var(--backgraund-footer-color);
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-logo-link {
    color: var(--secondary-titel-color);
}
.address-text,
.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-titel-color);
}
.address-text,
.footer-mail {
    margin-top: 0;
    margin-bottom: 9px;
}
.address {
    margin-right: 94px;
}
.footer-contacts {
    color: var(--footer-link-color);
}
 .footer-social-list {
    justify-content: flex-start;
    margin-top: 20px;
}   
.social-text {
    /* правильно тут мало б бути margin-bottom: 20px;
    але чомусь не спрацьовує, тому задано margin-top для настурного елементу; */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-titel-color);
}
.team-social-link:hover,
.social-link:hover {
    background-color: var(--akcent-color);
}



/* Фильтр портфолио */
.button-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--backgraund-team-color);
    color: var(--main-titel-color);
}
.button-name:hover,
.button-name:focus {
   background: var(--akcent-color);
   color: var(--secondary-titel-color);
}
/* Галерея портфолио */
.project-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-titel-color);
}
.project-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.project-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--secondary-titel-color);
}
.project-text:hover {
    background: rgba(33, 150, 243, 0.9);
}
